			body {
				font-family: "Lato";
				padding-top: 20px;
			}
			.container {
				width: 1000px;
				margin: 0 auto;
			}
			.header {
				display: flex;
				height: 150px;
			}
			.container-nama {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.nama {
				display: block;
			}
			.gambar {
				display: inline-block;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 20px;
			}
			.gambar img {
				max-width: 100%;
			}
			.main {
				display: flex;
				margin-top: 40px;
			}
			.main2 {
				display: flex;
			}
			.main3 {
				text-align: center;
				margin-right: 400px;
				margin-top: 35px;
			}
			.atur1 {
				margin-left: 20px;
				
			}
			.atur2 {
				margin: 0; margin-bottom: 10px;
			}
			.atur3 {
				margin: 0;
			}
			.konten {
				width: 50%;
				display: block;
			}
			.pendidikan {
				display: flex;
				align-items: start;
				margin-bottom: 20px;
			}
			.bulat {
				font-size: 3em;
				color: #2f67aa;
				line-height: 1px;
			}
			.list {
				padding: 0;
				list-style: none;
			}
			.list li {
				margin-bottom: 10px;
			}
			a {
				color:red;
				font-weight:bold;
				justify-content: center;
			}
			input[type="text"],
			input[type="date"],
			select,
			textarea {
				width: 100%;
				padding: 8px 12px;
				box-sizing: border-box
			}
			textarea {
				resize: none;
			}
			.button {
				background-color:#4caf50; 
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				cursor: pointer;
				margin-top: 10px 

			}

			.aturline {
				line-height: 200%
			}

			h1,
			h2,
			h3,
			h4 {
				color: #bc3a3a;
				font-weight: black;
			}
		</style>